<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dallinc.masstext" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        tools:replace="android:icon,android:theme"
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="mass_text.db" />
        <meta-data
            android:name="VERSION"
            android:value="7" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.dallinc.masstext" />

        <activity
            android:name="com.dallinc.masstext.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dallinc.masstext.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.dallinc.masstext.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dallinc.masstext.MainActivity" />
        </activity>
        <activity
            android:name="com.dallinc.masstext.templates.EditTemplate"
            android:label="@string/title_activity_edit_template"
            android:parentActivityName="com.dallinc.masstext.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dallinc.masstext.MainActivity" />
        </activity>
        <activity
            android:name="com.dallinc.masstext.messaging.Compose"
            android:label="@string/title_activity_compose"
            android:parentActivityName="com.dallinc.masstext.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dallinc.masstext.MainActivity" />
        </activity>
        <activity
            android:name="contactpicker.ContactManager"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>

        <service
            android:name="com.dallinc.masstext.messaging.SendSMS"
            android:exported="false" >
        </service>

        <activity
            android:name="com.dallinc.masstext.messaging.SentMessageDetails"
            android:label="@string/title_activity_sent_message_details"
            android:parentActivityName="com.dallinc.masstext.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dallinc.masstext.MainActivity" />
        </activity>
        <activity
            android:name="com.dallinc.masstext.Donate"
            android:label="@string/title_activity_donate"
            android:parentActivityName="com.dallinc.masstext.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dallinc.masstext.MainActivity" />
        </activity>
        <activity
            android:name="com.dallinc.masstext.FAQs"
            android:label="@string/title_activity_faqs"
            android:parentActivityName="com.dallinc.masstext.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dallinc.masstext.MainActivity" />
        </activity>
    </application>

</manifest>
